* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;

}

h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);

}

li {
    font-size: 20px;
    color: white;


}

.container {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 3em;
    width: 70%;
    margin: 10px auto;
    height: 100vw;
}

.tituloinput {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    padding: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.tituloinput input {
    background-color: rgb(31, 31, 31);
    color: white;
    width: 45%;
    height: 4em;
    padding: 2em;
    border-radius: 5px;
    font-size: .88em;
}

.tituloinput button {
    color: rgb(255, 255, 255);
    /* position: absolute; */
    bottom: 1em;
    border-radius: 5px;
    width: 45%;
    height: 4em;
    padding: .80em .50em;
    background-color: rgb(31, 31, 31);
    font-size: .88em;
    font-weight: bold;

}

.tituloinput:hover button {
    cursor: pointer;
}



.tituloinput .tarefa-insert {
    color: white;
    width: 100%;
}

.inputsubmitdiv {
    width: 79%;
    background-color: red;
    display: flex;
    flex-direction: column;



}

.container ul {
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    width: 72%;
    margin: 20px auto;
    padding: 10px;

}

.container ul li {
    text-decoration: none;
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;



}

.container ul .riscada {
    text-decoration: line-through;
}

::placeholder {
    /* padding: 2em; */
    color: rgb(255, 255, 255);
}

li:hover {
    cursor: pointer;
}



ul li {}